parameters:
    level: 2
    paths:
        - app/Http/Controllers
        - app/Http/Requests
        - app/Jobs
        - app/Console
    tmpDir: storage/phpstan
    reportUnmatchedIgnoredErrors: false
